@using TradeRiser.Core
@using TradeRiser.UI.Areas.Cpf
@{
    ViewBag.Title = TradeRiserUIResource.Preferences_Title;
}
@section jQueryLoad
{

}

@section ribbon
{
    @*<div class="section" data-title="@TradeRiserUIResource.Ribbon_MySettings">*@

    <li class="nav-item">
        <a id="save" href="#" class="nav-link">
            <span class="fa fa-fw fa-save"></span>@Html.Raw(TradeRiserUIResource.Ribbon_User_Save)
        </a>
    </li>

    @*</div>*@
}
@section subnav
{
    @{this.Html.RenderPartial("_UserMenu", "preferences");}
}

<div class="section">
    <div class="section-title">
        <div class="title-wrapper">@TradeRiserUIResource.Preferences_Title</div>
    </div>

    *Dyno Form Here*
</div>
