
/*chart itself*/

.tr-component-high-chart-component-view{
	/* Tool bar stuff*/
	.tr-component-chart-tool-bar.has-items{
		border-bottom: solid 1px #ccc;
		padding:5px;
		float: left;
		width: 100%;
                font-size: 12.5px;
	}

	ul.toolbar-menu-ul {

		width:100%;
	}

	ul.toolbar-menu-ul li{
		list-style:none;
		display: initial;
		float: left;
		padding: 0px 5px;
	}

	max-width:100%;
	max-height:100%;
	overflow: auto;
}