<!DOCTYPE html>
<html>
<head>
	<title>Trade riser: Components</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<meta name="csrf-token" content="{{csrfToken}}">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link href="/stylesheets/style.css" rel="stylesheet">

	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/reload-client.js"></script>
	<script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/tr-require.js"></script>

</head>
<body>
<div id="components-page">Components</div>
<hr>
<div id="app-container">
</div>
<div id="footer"></div>


<script type="text/javascript">
	var startTradeRiserApp = function(traderiser){

		var TradeRiserComponents = traderiser.app.components;
		var TradeRiserViews = traderiser.app.views;

		var AccordionComponent = TradeRiserComponents.AccordionComponent;

		var collection = new Backbone.Collection();
		var accordionCollection = new Backbone.Collection();

		var FollowingResultsListView = TradeRiserViews.FollowingResultsListView;

		//create a new Results card view
		var followingCollection;

		var request = $.ajax({
			url: '/data/GetUserProfile3.json',
			method:'GET',
			dataType:'json',
			success: function(data){
				return data;
			}
		});

		request.then(function(data){
			if(data.UserProfileConfig.Following.length > 0){
				console.log(data.UserProfileConfig.Following);
				var followingData  = data.UserProfileConfig.Following;
				followingCollection = new Backbone.Collection(followingData);
				var followingListView = new FollowingResultsListView({collection: followingCollection});
				accordionCollection.add(new Backbone.Model({label: 'Following Queries Results', view: followingListView, active: true}));
			}
		});


		collection.add(new Backbone.Model({label: 'tabs 1', content: '<p>asasasa</p>', active: true}));

		var backboneViewTab =  Backbone.View.extend({
			events: {
				"click .clickMeButton": _.bind(function(e){
					alert('clicked');
				})
			},
			className: 'backboneView',
			initialize:function(options){
				this.$el.html('<p>tabs information</p>');
				//this.render();
			},
			render: function(){
				this.$el.append('<p class="text text-primary"><button class="clickMeButton">even more information</button></p>');
				return this;
			}
		});


		accordionCollection.add(new Backbone.Model({label: 'accordion two', view: '<p>2. some more content<p>'}));
		accordionCollection.add(new Backbone.Model({label: 'accordion three', view: '<p>3. some more content<p>'}));
		var accordionComponentView = new AccordionComponent.view({model: new Backbone.Model({style: 'simple', title: 'latest information'}), collection: accordionCollection});

		$('#app-container').append(accordionComponentView.render().el);
		accordionCollection.add(new Backbone.Model({label: 'accordion one', view: new backboneViewTab}));

	}
</script>
</body>
</html>