<!DOCTYPE html>
<html>
<head>
	<title>Trade riser: Components</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<meta name="csrf-token" content="{{csrfToken}}">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link href="/stylesheets/style.css" rel="stylesheet">

	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/reload-client.js"></script>
	<script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/tr-require.js"></script>

</head>
<body>
<div id="components-page">Components</div>
<hr>
<div id="app-container">
	<ul class="nav nav-list">
		<li><a href="/components/tabs">Tabs Components</a> </li>
		<li><a href="/components/accordion">Accordion Components</a> </li>
		<li><a href="/components/search-results">Search results Components</a> </li>
		<li><a href="/components/favourites-results">Favourite results Components</a> </li>
		<li><a href="/components/following-results">Following results Components</a> </li>
		<li><a href="/components/search-bar">Search bar Components</a> </li>
		<li><a href="/components/continues-results">Continues-results Components</a> </li>
		<li><a href="/components/slide-menu">Slide menu Components</a> </li>
		<li><a href="/components/charts">Charts Components</a> </li>
		<li><a href="/components/page-layout">Page Layout Component</a> </li>
	</ul>
</div>
<div id="footer"></div>


<script type="text/javascript">
	var startTradeRiserApp = function(traderiser){


   }
</script>
</body>
</html>