@using TradeRiser.UI
@{
   Layout = null;
}

@*<head>
     <title>Feedback</title>
    <link href="~/Content/Styles/shared.css" rel="stylesheet"/>
    <link href="~/Content/Styles/form.css" rel="stylesheet" />

</head>*@
@section jQueryLoad
{
feedback.load();
}
@section ribbon
{

}
<div style="margin-left: 10%;">
    <div class="section" style="height: 520px;">
        <div class="section-title">
            <div class="title-wrapper">
                <h1>Send us feedback</h1>
            </div>
            <div style="padding-top: 5px;">
                <p><br/>Please fill out the form below and we will get back to you as soon as possible.
                </p>
            </div>
        </div>
        <div class="section-content" id="feedback-section">
            @*<p>Are you satisfied with your experience?</p>*@
            <label>Name:</label>
            <input type="text" id="name" maxlength="255" placeholder="Name" class="cpftxt form-control"/>
            <label>Email:</label>
            <input type="text" id="email" maxlength="255" placeholder="Email" class="cpftxt form-control"/>
            <label>Message:</label>
            <textarea  style="display: block" id="message" rows="10" cols="80" placeholder="Tell us about your experience?"></textarea>
        </div>
    </div>
    <div>
        <input type="button" id="cancel" class="btn" value="@Html.Raw(TradeRiserUIResource.Ribbon_Membership_Cancel)"/><span class="fa fa-fw fa-cancel"></span>
        <input type="button" id="save" class="btn" value="Submit"/><span class="fa fa-fw fa-save"></span>
    </div>
</div>
