<!DOCTYPE html>
<html>
    <head>

        <title>TradeRiser Trading platform: Ask questions, get answers</title>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="csrf-token" content="{{csrfToken}}">

        <!-- Optional theme -->
        <link href="/stylesheets/style.css" rel="stylesheet">

        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/reload-client.js"></script>
				<script src="//js.pusher.com/3.0/pusher.min.js"></script>
				<script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/tr-require.js"></script>
		</head>
    <body>
    
        <div id="header"></div>
       
        <div id="app-container">
        <div class="loading-text text-muted"> <p><i class="fa fa-cog fa-x3 fa-spin"></i>...Loading </p></div>
        </div>  
        <div id="footer"></div>
      

				<script type="text/javascript">
					var startTradeRiserApp = function(traderiser){
						traderiser.app.router.booter();
					}
				</script>
    </body>
</html>