/* 
    Log in page
*/

.header {
    background-color:#222;/*#000;*/
    height:60px;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    z-index :600;
    position:fixed;
    top:0;
    width:100%;
}

body {
      background-image:url("http://dev.traderiser.com/Images/imgD.jpg");
    border-top: solid 10px #000;
    color: white;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    min-height:600px;
    overflow-y:auto;
}


a.sign-up {
    padding:10px;
    position:absolute;
    right:0;
    margin:2px 5px 10px 5px;
    bottom:0;
}
a.sign-up:hover {
    background-color:blue;
    text-decoration:none;
}

a.sign-up:link ,sign-up a:visited { 
    /*color: green;*/
    text-decoration:none;
    cursor: auto;
    text-decoration-color:white;
}

#login-container {
    /* width:600px !important;*/
}
#signin-container,
#signin-links-container {
    position: relative;
    margin-top:80px;
   /* top: 50px;*/
    bottom: 0;
    width: 100%;
  
    padding: 4.5rem;
  /* overflow-y: auto;*/
 

}

.wrapper {
    background-color:#000;
    opacity:0.9;
}

#signin-container {
   /* right: 0;*/
    text-align: center;
    background: $(LogonSignin);
    
}

#signin-links-container {
   
    background: $(Logon);
    color: $(LogonText);
}

    #signin-links-container a {
        color: $(TextContrast);
        opacity: 0.6;
    }

    #signin-links-container h2 {
        color: $(LogonText);
    }

#logon-form .logon-label h2,.logon-label h2 {
font-size:1.4rem;
}


#signin-section {
    margin-top:5px;
    display: inline-block;
    width: 22rem;
    text-align: center;
    font-size: 0.8125rem;
    line-height: 1rem;
    /*color: $(TextMuted);*/
    padding:20px 45px 20px 45px;
    /*position:absolute;*/
    background-color:#303030;/*#000;*/
    /*opacity:0.95;*/
    min-height:385px !important;
    
    
}

#signin-links-section {
    margin-top:5px;
    display: inline-block;
    width: 22rem;
    text-align: center;
    font-size: 0.8125rem;
    line-height: 1rem;
   /* color: $(TextMuted);*/
    padding:20px;
    /*position:absolute;*/
    background-color: #303030 ; /*#000;
    opacity:0.95;*/
    min-height:385px !important;
    vertical-align:top;
    
}

/*#forgot-password-section{
    padding-top:20px;
}*/
#forgot-button-section {
    padding-top:50px;
}
.signin-section .logon-label {
    padding: 25px 0 15px 0;
}

 #forgot-password-section div.logon-label, #logon-form div.logon-label, div.logon-label {
    padding: 15px 0 15px 0;
    position:relative;
    display:inline-block;
}
ul li.new-label {
    font-size: 0.8125rem;
    padding:6px 0 6px 0;
}
/*form input {
    padding:5px .375rem 5px 5px;
}*/

/*form input[type="text"], input[type="password"], select, textarea, .form-control {
    padding-left: .375rem;
}*/
#logon-form > div,
#forgot-password-section > div {
    padding: 0.45rem 0;
}

#signin-section input[type="text"],
#signin-section input[type="password"],
#signin-section .select-wrapper {
    width: 100%;
    background-color: $(LogonSignin);
}

#signin-section label {
    text-align: left;
    margin-top: 0;
}


#remember-me-section label {
    text-align: center;
}

#signin-section .submit-button {
    padding-top: 1.5rem;   
}

#signin-footer {
    position: fixed;
    height: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem;
    line-height: 3rem;
    color: $(TextMuted);
    min-width:400px;
}

    #signin-footer > div:first-child {
        float: left;
    }

    #signin-footer > div:nth-child(2) {
    float: right;
}
    
.backdrop
		{
			position:fixed;
			top:0;
			left:0;
            right:0;
            bottom:0;
			/*width:100%;*/
			/*height:100%;*/
			background:#000;
			opacity: .0;
			filter:alpha(opacity=0);
			z-index:50;
			display:none;
		}

.box .close {
font-size:1.250rem;
}
        .box
		{
			position:absolute;
			top:40%;
			left:52%;
			/*width:500px;
			height:300px;*/
			background:#ffffff;
			z-index:51;
			/*padding:0 30px 20px 30px;*/
			/*-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;*/
			-moz-box-shadow:0px 0px 5px #444444;
			-webkit-box-shadow:0px 0px 5px #444444;
			box-shadow:0px 0px 5px #444444;
			display:none;
            margin:-166px 0 0 -166px;
            /*height:100%;*/
		}
 
		.close
		{
			/*float:right;*/
			margin-right:6px;
			cursor:pointer;
		}
.content {
    padding:10px 30px 20px 30px;
}