/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Oct-2015, 09:40:04
    Author     : rockyasante
*/
#header .header-search .search-box .input-group {
  width: 100%;
  margin-left: 70px; }
