@{
    Layout = null;
}
@*<div id='validation-tooltip' style='display: none'>
    <span id='validation-text'></span>
</div>
<div id='validation-tooltip-fade' class='black-overlay'>
</div>*@

<div class="layer-wrapper validation-layer-wrapper" id="validation-tooltip">
    <div class="tooltip-layer validation-layer">
        <div class="triangle"></div>
        <a class="layer-close validation-close">&#xf00d;</a>
        <span id="validation-text"></span>
    </div>
</div>
