@model TradeRiser.Models.CustomToken
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TradeRiser - Beta</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../Content/clean/css/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="../../Content/clean/css/style.css">
    <link rel="shortcut icon" href="../../Images/traderiser.ico"/>

    <link rel="stylesheet" href="../../Scripts/highstocks2/css/speech-bubble.css">
</head>
<body>
    <div id="pageLoader" style="width:2000px; display:block; height:1000px; top:60px; background-color:black; color:white;  opacity: 0.7;
    filter: alpha(opacity=70); position:absolute; z-index:50000">
        <div id="pageLoading" style="margin: 250px auto; left:0; right:0; width: 300px; height: 150px; border:2px solid black; 
background-color:white; padding:5px 5px 5px 5px; border-radius: 5px; position: absolute; color:black">
            
          <div id="loadmsg" style="margin:10px auto; width:210px">Page Loading In Progress </div> <br />
         <img src="../../Images/loading1.gif" id="loadchartDiaMini" 
             style="margin-left: auto; margin-right: auto; top: 35%; left: 40%; width: 50px; height: 50px; position: absolute;" />

        </div>

    </div>

   @*<div hidden id="h_v">Model.Binarycrypt</div>*@

   <input type="hidden" value=@Model.Binarycrypt id='h_v' class='h_v'>

    <!-- Header bar -->
    <div class="header">
@*        <img alt="Highcharts Home Page" src="http://api.highcharts.com/resources/images/Highstock.svg" border="0" >*@
    
        <div style="top:10px; position:absolute">
        <img alt="Highcharts Home Page" src="../../../Images/TradeRiser_logo3.svg" border="0" height="40" width="240" >
            </div>
        <div class="user">
 @if (Request.IsAuthenticated)
            {
                <a href="#" class="btn-user transition">
                    <span class="imgbox">
                        <img src="../Images/user-avatar.png" width="35" height="35" alt="John Doe"></span>
                    @User.Identity.Name
                    <i class="icn icn-carret"></i>
                </a>
                <ul class="drop">
 
                    <li class="logoutItem">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="#">Log off</a>
                        }</li>
                </ul>
            }
            else
            {
                <ul>
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            }
        </div>
    </div>
    <!-- End Header bar -->


    <!-- Top bar -->
    <div class="topbar">
        <div class="searchbox">
            <div class="searchact">
                <a href="#" class="btn-act btn-chart transition">Chart</a>
                <a href="#" class="btn-act btn-drop transition">Drop</a>
            </div>
            <div id="searchboxArea">
                <div id="contenthandle">
                    <form id="searchForm" method="post">
                        <input data-bind="value: mainQuery, valueUpdate: ['afterkeydown', 'input']" id="testIndex" name="searchQuery" size="72"
                            placeholder="What would like to know about the Forex markets?" class="inputbox transition input-search" autocomplete="off" />
                        <div data-bind="click: getAnswer" id="compute" value="SEARCH" class="btn btn-search transition" style="cursor: pointer;">GET ANSWER</div>
                        

                        <div id="queryDropDown">
                            <textarea data-bind="value: mainQuery, valueUpdate: ['afterkeydown', 'input']" rows="7" cols="101" name="textArea" id="textArea"></textarea>
                        </div>


                    </form>
                </div>
            </div>
            <div id="divTextArea" class="dimension"></div>
            <div id="divLineLenght" class="dimension"></div>
            <input type="text" id="hidden_typehead" />
            <input type="text" id="hidden_height_line" />
            <div id="tip" style='width: 20px; height: 5px; background-color: red; display: none; position: absolute; background-color: red; font-size: 0;'></div>
        </div>

        <a href="#" id="rightbtn-splitter" data-bind="click: toolBar, text:toolBarMessage"></a>

    </div>
    <!-- End Top bar -->


    <div class="sidebar">
        <div class="sidebar-inner">

            <div id="tab-container" class="side-tabs">
                <ul class='etabs'>

                    <li class='tab'><a href="#tabs1-tab1" class="first transition"><i class="icn icn-tab1"></i></a></li>
                    <li class='tab'><a href="#tabs1-tab2" class="transition"><i class="icn icn-tab2"></i></a></li>
                    <li class='tab'><a href="#tabs1-tab3" class="last transition"><i class="icn icn-tab3"></i></a></li>
                </ul>


                <div id="tabs1-tab1">

                    <div class="titleleftHeader">
                        <div class="leftSidebarNewTitle">
                            Query Results
                        </div>
                        <div class="subtitleNewHeader">The answers to your query</div>

                         <div class="tab-inner" id="queryResults">
                             <div data-bind="foreach : onDemandResults">
                                <div data-bind="template: {name: 'resultCardTemplate', data: $data },  hoverToggle: 'resultCardHover', 
                                    click: function(data, event) { $parent.retrieveDataResults(data, event) }">
                                </div>
                            </div>
                         </div>
                    </div>

                </div>


                <div id="tabs1-tab2" class="tabpanel">
                    <div class="titleleftHeader">
                        <div class="leftSidebarNewTitle">
                           Continuous Query Results
                        </div>
                        <div class="subtitleNewHeader">Continuous query results featuring emerging chart patterns and custom analysis</div>

                        <div class="tab-inner" id="emergingResults">
                            <div data-bind="foreach : continuousResults">
                                <div data-bind="template: {name: 'resultCardTemplate', data: $data },  hoverToggle: 'resultCardHover', 
                                    click: function(data, event) { $parent.retrieveDataResults(data, event) }">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tabs1-tab3" class="tabpanel">

                    <div class="titleleftHeader">
                        <div class="leftSidebarNewTitle">
                            Expired Trading Opportunities
                        </div>
                        <div class="subtitleNewHeader">Expired opportunities consisting of completed chart patterns</div>

                        <div class="tab-inner" id="expiredResults">

                            <div class="leftSideQueryItems" id="b1">
                                <div class="blobhead">
                                    <div class="resultHeader">
                                        <table class="resultHeaderTable">
                                            <tr>
                                                <td>
                                                    <div class="resultIcon">View</div>
                                                </td>
                                                <td>
                                                    <div class="resultSymbol">EUR/USD</div>
                                                </td>
                                                <td>
                                                    <div class="resultStartDateTime">15.03.2013 08:00</div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="resultTimeFrame">5min</div>
                                                </td>
                                                <td>
                                                    <div class="resultSymbol">
                                                        <table>
                                                            <tr>
                                                                <td><img src="../../Images/flagcurrencies/gbp.png" width="17" height="17" /></td>
                                                                <td><img src="../../Images/flagcurrencies/usd.png" width="17" height="17"  /></td>
                                                            </tr>
                                                        </table>


                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="resultEndDateTime">15.05.2013 08:05</div>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                                <div class="blobcontent">
                                    <p>Which currency pairs correlates with the EUR/PLN between 03/01/2013 to 26/03/2013?</p>
                                </div>
                            </div>


                            <div class="leftSideQueryItems" id="b2">
                                <div class="blobhead">
                                    <div class="blobuser">
                                        <div class="sideBarViewQuery">View</div>

                                        <div class="btnUnfollow">
                                            Unfollow-
                                        </div>
                                    </div>
                                </div>
                                <div class="blobcontent">
                                    <p>Which currency pairs have a high volatility on a 1 minute timeframe and an uptrend on the 4 hour timeframe and sharp drop 2 weeks ago on the 30 minute time frame?</p>
                                </div>
                            </div>

                            <div class="leftSideQueryItems" id="b3">
                                <div class="blobhead">
                                    <div class="blobuser">
                                        <div class="sideBarViewQuery">View</div>
                                        <div class="btnUnfollow">
                                            Unfollow-
                                        </div>
                                    </div>
                                </div>
                                <div class="blobcontent">
                                    <p>Which currency pairs have a high volatility on a 1 minute timeframe and an uptrend on the 4 hour timeframe and sharp drop 2 weeks ago on the 30 minute time frame?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- End Sidebar -->

    <!--RightSidebar -->
    <div class="rightsidebar">
        <div class="topRight">


            <div class="titleHeader">
                <div class="rightSidebarTitle">
                    Following
                </div>
                <div class="subtitleHeader">The queries you currently subscribe to</div>

                <div class="tab-inner" id="followedQueries">

                    <div data-bind="foreach : queriesSubscription">
                        <div data-bind="template: {name: 'followingQueryTemplate', data: $data } ">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="bottomRight">
            <div class="titleHeader">
                <div class="rightSidebarTitle">
                    Historic Queries
                </div>
                <div class="subtitleHeader">Queries made in the past</div>

                <div class="tab-inner" id="historicQueries">

                    <div data-bind="foreach : historicQueries">
                        <div data-bind="template: {name: 'historicQueryTemplate', data: $data }">
                        </div>
                    </div>

                </div>
            </div>




        </div>
    </div>
    <!-- End Sidebar -->


    <!-- Main Content -->
    <div class="content">
        <div class="content-inner">
            <a id="performStatsButton" href="#performanceStats">Performance Statistics</a>
            <a id="riskDisclaimerButton" href="#riskDisclaimer">Risk Disclaimer</a>
            
                <div id="noresults" style="z-index: 50000; display:none; font-size: medium; font-family:'PT Sans', Arial, Helvetica, sans-serif;
                margin: 100px auto; color:#686665; left:0; right:0; width: 600px; position: absolute; padding:5px 5px 5px 5px; border-radius: 5px; 
                box-shadow: 0 0 7px 1px #BFCFD0;"><b>TradeRiser does not understand your input. 
                    <br />Please check the spelling and ensure your query is related to trading.</b></div>

            <div class="pane" id="resultCanvas">
                <!-- Space for app content -->



                <table width="95%" cellspacing="1" border="1" style="border-color: #E0E0E0; margin: 0 auto;">
                    <tr>
                        <td>
                            <label>Highlighted:</label><input type="checkbox" id="highlighted" />
                            <div id="container" style="height: 610px; width: 100%;"></div>
                        </td>
                    </tr>
                </table>
                <br />
                <br />


                <div id="performanceStats">
                    <h2>Performance Stats</h2>
                    <a class="naviPos" href="#performStatsButton">Top</a>
                    <table class ="performanceStatsTable" border="1">
                        <tr><td>Pattern</td><td>Total</td><td>Correct</td><td>Total</td></tr>
                        <tr><td>Ascending Triangle</td><td>354</td><td>634</td><td>78%</td></tr>
                        <tr><td>Channel Down</td><td>354</td><td>634</td><td>78%</td></tr>
                        <tr><td>Channel Up</td><td>354</td><td>634</td><td>78%</td></tr>
                        <tr><td>Descending Triangle</td><td>354</td><td>634</td><td>78%</td></tr>
                        <tr><td>Double Bottom</td><td>354</td><td>634</td><td>78%</td></tr>
                        <tr><td>Double Top</td><td>354</td><td>634</td><td>78%</td></tr>
                    </table>
                </div>

  

                <br />
                <br />


                     <div id="riskDisclaimer">
                    <h2>Risk Disclaimer</h2>
                    <a class="naviPos" href="#performStatsButton">Top</a>

                    <p>
Please acknowledge the following: <br/>
The Charts are provided 'as is', without warranty or guarantee of any kind, including but not limited to the warranties of merchantability and fitness for a particular purpose. In no event shall TradeRiser Limited and its affiliates or any third party contributor be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the use of or other dealings in the Charts. 
The Charts run on pricing data provided by us to a third party charting administrator. You accept that the price data displayed in the Charts may be delayed and that we do not guarantee the accuracy or completeness of the data and that we do not guarantee that the service will be uninterrupted.
</p>


<p>
**Performance Statistics ** <br/>
Explanation <br/>

The statistics below measure how many patterns hit their forecast level.

Disclaimer

The TradeRiser service includes analysis of financial instruments. There are potential risks relating to investing and trading. You must be aware of such risks and familiarize yourself in regard to such risks and to seek independent advice relating thereto. You should not trade with money that you cannot afford to lose. The TradeRiser service and its content should not be construed as a solicitation to invest and/or trade. You should seek independent advice in this regard. Past performance is not indicative of future performance. No representation is being made that any results discussed within the service and its related media content will be achieved. TradeRiser, MDIO Software, their members, shareholders, employees, agents, representatives and resellers do not warrant the completeness, accuracy or timeliness of the information supplied, and they shall not be liable for any loss or damages, consequential or otherwise, which may arise from the use or reliance of the TradeRiser service and its content.
</p>
</div>




            </div>




            
        </div> 
        

    </div>
    <!-- End Main Content -->
    <div id="loadchartDia" style="display: none; z-index: 50000; 
    margin: 150px auto; left:0; right:0; width: 70px; height: 70px; position: absolute;"></div>

        <!-- Dialog box class="inputbox transition input-search"-->
    <div id="criteriaDialog" >
        <input data-bind="value: symbolQuery" id="loadChart" name="searchQuery" size="30" placeholder="AAPL" 
             autocomplete="off" />
        <div id="fetchButton">Fetch</div>

        <div id="selectionType">Selection Type : 
       <input type="radio" name="selectionType" value="Pattern" checked="checked" />Pattern
       <input type="radio" name="selectionType" value="Correlation" />Correlation
         </div>

        <br />
        <div id="highStockCustom" style="height: 550px; width: 910px; padding: 2px 2px 2px 2px"></div>
        <img src="../../Images/loadingchart.gif" id="loadchart" style="display: none; margin-left: auto; margin-right: auto; top: 35%; left: 45%; width: 50px; height: 50px; position: absolute;" />
        <div data-bind="click: addToQuery" id="renderForSearch">Convert To Query</div>
       

        <div id="selectedPeriod">
            Selected Period : 
          <span id="startDateTest">N/A</span> &nbsp - &nbsp <span id="endDateTest">N/A</span>
            <br />

          <div data-bind="text: graphicalQuery"></div>

       </div>



    </div>
    <!-- End Dialog box -->


<!-- Template Collection -->

    <script type="text/html" id="resultCardTemplate">
        <div class="leftSideQueryItems" data-bind="attr: {id: QueryID }">
            <div class="blobhead">
                <div class="resultHeader">
                    <table class="resultHeaderTable">
                        <tr>
                            <td>
                                <div class="resultIcon">                                                                                
                                    <div data-bind="foreach: SymbolImages">
                                        <img data-bind="attr:{src: $data}" />  
                                    </div>


                                </div>
                            </td>
                            <td>
                                <div class="resultSymbol" data-bind="text: Source">-</div> 
                            </td>
                            <td>
                                <div class="resultSymbol" data-bind="text: SymbolID"></div>
                            </td>
                            <td>
                                <div class="resultStartDateTime" data-bind="text: StartDateTime"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="resultTimeFrame" data-bind="text: TimeFrame"></div>
                            </td>
                            <td>
                                <div class="resultSymbol">
                                </div>
                            </td>
                            <td colspan="4">
                                <div class="resultEndDateTime" data-bind="text: EndDateTime"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="blobcontent">

                <table class="resultFieldsTable" data-bind="foreach : ExtraFields">
                    <tbody data-bind="foreach : $data">
                        <tr>
                            <td data-bind="text: keyfield">:</td>
                            <td data-bind="text: keydata"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </script>



   @*<script type="text/html" id="resultCardTemplate">
        <div class="leftSideQueryItems" data-bind="attr: {id: QueryID }">
            <div class="blobhead">
                <div class="resultHeader">
                    <table class="resultHeaderTable">
                        <tr>
                            <td>
                                <div class="resultIcon">                                                                                
                                    <img src="../../Images/flagcurrencies/gbp.png" width="20" height="20" /> 
                                    <img src="../../Images/flagcurrencies/usd.png" width="20" height="20" />
                                </div>
                            </td>
                            <td>
                                <div class="resultSymbol" data-bind="text: Source">-</div> 
                            </td>
                            <td>
                                <div class="resultSymbol" data-bind="text: SymbolID"></div>
                            </td>
                            <td>
                                <div class="resultStartDateTime" data-bind="text: StartDateTime"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="resultTimeFrame" data-bind="text: TimeFrame"></div>
                            </td>
                            <td>
                                <div class="resultSymbol">
                                </div>
                            </td>
                            <td colspan="4">
                                <div class="resultEndDateTime" data-bind="text: EndDateTime"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="blobcontent">

                <table class="resultFieldsTable" data-bind="foreach : ExtraFields">
                    <tbody data-bind="foreach : $data">
                        <tr>
                            <td data-bind="text: keyfield">:</td>
                            <td data-bind="text: keydata"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </script>*@

    <script type="text/html" id="followingQueryTemplate">
        <div class="followingQuery" data-bind="attr: {id: QueryID }">
            <div class="blobhead">
                <div class="blobuser">
                    <div class="sideBarViewQuery" data-bind="click: function(Query) { 
                       $root.updateMainQuery(Query); }">View</div>

                    <div class="btnUnfollow" data-bind="click: function(QueryID) { 
                       $root.unFollowQuery(QueryID); }">
                        Unfollow-
                    </div>

                </div>
            </div>
            <div class="blobcontent">
                <div style="font-size: 14px; color: #494747; margin: 0px; padding: 0px; text-shadow:1px 1px 0px rgba(255,255,255,0.55);" data-bind="text: Query"></div>
            </div>
        </div>
    </script>

    <script type="text/html" id="historicQueryTemplate">
        <div class="historicQuery" data-bind="attr: {id: QueryID }">
            <div class="blobhead">
                <div class="blobuser">
                    <div class="sideBarViewQuery" data-bind="click: function(Query) { 
                       $root.updateMainQuery(Query); }">View</div>

                    <div class="btnFollow" data-bind="click: function(QueryID) { 
                       $root.followQuery(QueryID); }">
                        Follow+ 
                    </div>
                </div>
            </div>
            <div class="blobcontent">
               <div style="font-size: 14px; color: #494747; margin: 0px; padding: 0px; text-shadow:1px 1px 0px rgba(255,255,255,0.55);" data-bind="text: Query"></div>
            </div>
        </div>
    </script>

    <!-- Template End --->


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    
    <script src="../../Scripts/raphael-min.js"></script>


    <script src="../../Scripts/clean/js/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="../../Scripts/clean/js/jquery.easytabs.min.js"></script>
    <script src="../../Scripts/clean/js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>

    <script src="../../Scripts/highstocks2/js/highstock.src.js"></script>

    <script src="../../Scripts/highstocks2/js/highstockCustomRegionSelector.src.js"></script>
    <script src="../../Scripts/highstocks2/js/highstock-ext.js"></script>
    <script src="../../Scripts/highstocks2/js/modules/exporting.js"></script>



    <script src="../../Scripts/clean/js/traderiser.js"></script>
    <script src="../../Scripts/clean/js/testRun.js"></script>
    <script src="../../Scripts/clean/js/dataPrep.js"></script>
    <script src="../../Scripts/clean/js/chartSelections.js"></script>


    <script src="../../Scripts/knockout-3.2.0.js"></script>
    <script src="../../Scripts/App/traderiser-view-model.js"></script>
    <script src="../../Scripts/App/traderiser-proxy.js"></script>

    <script type="text/javascript" src="a.PokeIn?ms=connect"></script>
    <script type="text/javascript">

        var btnChannel = document.getElementById("channel");
        var txtStatus = document.getElementById("status");


        var tradeRiserViewModel = new TradeRiserViewModel(
            new TradeRiserProxy());

        tradeRiserViewModel.initialiseUI();
        tradeRiserViewModel.init();


        ko.applyBindings(tradeRiserViewModel);




        document.OnPokeInReady = function () {
            PokeIn.Start(function (isConnected) {
                if (isConnected) {
                    
                    var hvnme = $('#h_v').val();
                    pCall["StockDemo"].JoinChannel(hvnme);

                    var pageLoader = document.getElementById("pageLoader");
                    pageLoader.style.display = 'none';
                   //alert('Connected!');
                }
            });
        };




        function UpdateString(str) {
            txtStatus.innerHTML = str;
        }

        function Pinned() {
            btnChannel.joined = true;
        }

        function Unpinned() {
            btnChannel.joined = false;
        }

        var prices = [];
        var positionCount = 0;

        function UpdateContinousQueryResultCard(resultCard) {

            tradeRiserViewModel.upDateContinousQueryResult(resultCard);
        }

        function updateResultsTable() {
            var mouseOverColor = '#33A1DE';
            var bgOverColor = '#FFFFFF';
            $('#first').after('<div class="blob transition"><div class="blobhead"><p class="date">15.03.2014 - 15.05.2014</p><div class="blobuser"><span class="imgbox"><img src="pix/user-avatar.png" width="35" height="35" alt="John Doe"></span><p>Count ' + positionCount + '</p></div></div><div class="blobcontent"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida, urna a elementum gravida, lorem quam vestibulum purus, eu fermentum erat risus egestas mauris.</p></div></div>');


            //$('#resultsTable tr:first').before('<tr onMouseUp="javascipt:resultItemClicked()" bgcolor=' + bgOverColor + ' onMouseOver=this.bgColor="' + mouseOverColor + '" onMouseOut=this.bgColor="' + bgOverColor + '"><td>eBay Inc (EBAY) - Nasdaq  - ' + positionCount + '<br /> <div style="font-size:smaller">51.65   |   0.57 (1.12%)</div></td></tr>');

        }


     
        var remove = spinner("loadchartDia", 50, 120, 20, 25, "#696969");

        function spinner(holderid, R1, R2, count, stroke_width, colour) {
            var sectorsCount = count || 12,
                color = colour || "#fff",
                width = stroke_width || 15,
                r1 = Math.min(R1, R2) || 35,
                r2 = Math.max(R1, R2) || 60,
                cx = r2 + width,
                cy = r2 + width,
                r = Raphael(holderid, r2 * 2 + width * 2, r2 * 2 + width * 2),

                sectors = [],
                opacity = [],
                beta = 2 * Math.PI / sectorsCount,

                pathParams = { stroke: color, "stroke-width": width, "stroke-linecap": "round" };
            Raphael.getColor.reset();
            for (var i = 0; i < sectorsCount; i++) {
                var alpha = beta * i - Math.PI / 2,
                    cos = Math.cos(alpha),
                    sin = Math.sin(alpha);
                opacity[i] = 1 / sectorsCount * i;
                sectors[i] = r.path([["M", cx + r1 * cos, cy + r1 * sin], ["L", cx + r2 * cos, cy + r2 * sin]]).attr(pathParams);
                if (color == "rainbow") {
                    sectors[i].attr("stroke", Raphael.getColor());
                }
            }
            var tick;
            (function ticker() {
                opacity.unshift(opacity.pop());
                for (var i = 0; i < sectorsCount; i++) {
                    sectors[i].attr("opacity", opacity[i]);
                }
                r.safari();
                tick = setTimeout(ticker, 1000 / sectorsCount);
            })();
            return function () {
                clearTimeout(tick);
                r.remove();
            };
        }



    </script>



</body>
</html>
