@*@using TradeRiser.UI
@model ErrorDetails
@{
    string errorClass;
    switch (this.Model.ErrorType)
    {
        case ErrorType.Information:
            errorClass = "fa-information-circle";
            this.ViewBag.Title = TradeRiserUIResource.Error_PageTitle;
            break;
        case ErrorType.Warning:
            errorClass = "fa-exclamation-circle";
            this.ViewBag.Title = TradeRiserUIResource.Warning_PageTitle;
            break;
        case ErrorType.Forbidden:
            errorClass = "fa-exclamation-triangle";
            this.ViewBag.Title = TradeRiserUIResource.Forbidden_PageTitle;
            break;
        case ErrorType.Error:
        default:
            errorClass = "fa-exclamation-triangle";
            this.ViewBag.Title = TradeRiserUIResource.Error_PageTitle;
            break;
    }

    Layout = string.Empty;
}
<script type="text/javascript" language="javascript">
    $(function () {
        $(".error-log-show").off("click").on("click", function () {
            var errorJson = JSON.parse($(this).attr("data"));
            var $errorBox = $("#cpf-error-wrapper");
            $errorBox.find(".title-text").html('@TradeRiserUIResource.Error_Header');
            var content = errorJson["message"] + "<br/><br/>" + errorJson["stackTrace"];
            $errorBox.find(".detail .content span").html(content);
            ConfirmationBox.Show($("#cpf-error-wrapper"));
            return false;
        });
    });
</script>
<div class="error-content">
    <div class="error-log-show btn btn-secondary" data="@this.Model.Json">Show Details</div>
    <h2><span class="@Html.Raw(errorClass) fa fa-fw"></span> There's been an error.</h2>
 
    <span class="error-detail">@TradeRiserUIResource.Error_Header</span>
</div>*@
