@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import "vendor/bootstrap/bootstrap-drawer.css";

$blue: #5B83AD;
$yellow: #FFFFE0;

body, html {border: 0px; margin: 0px; padding: 0px; 
            height:100%; position:relative; width:100%;}

body {
    padding-top: 51px;
    font: 12.5px "Open sans", sans-serif;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    h1,h2,h3{
        font-weight: 100;
    }

    .template {
        background-color: $yellow;
    }
    .navbar-default {
        background-color: #337ab7;
        border-color: #3562AF;
        color: white;
        font-weight: bolder;
    }
    .navbar-static-top {
        margin-bottom: 19px;
    }
    #app-container, .search-page-view{
        height: 100%;
        position: relative;
        overflow: auto;
    }

    #app-container {
        margin-top: 0px;
    }
    .fill{
        min-height: 100%;
        height: 100%;
    }
    .tr-component-search-page-view{
        width: 100%;
        height: 100%;

    }

    .ui-layout-container{

    }

    .ui-layout-container, .ui-layout-pane {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border:none;
    }

    .ui-layout-pane{
        padding:5px;
    }

    .ui-layout-resizer {
        background: #DDD;
        border: 1px solid #DDD;
        border-width: 0;
        width:3px!important;
    }

    .ui-layout-toggler {
        border: 1px solid #BBB;
        background-color: #BBB;
        width:3px;
    }
    .tr-component{

    }

    .loading-text {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 20px;
        text-align: center;
    }

    /* Glasspane */
    .glasspane {
        display: none;
        zoom: 1;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #ccc;
        opacity: 0.6;
        z-index: 100;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
    }


    #center-content {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .empty-results {
        font-size:2.0em;
        color:#ccc;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 20px;
        text-align: center; 
    }



    /*<ol class="rounded-list">
<li><a href="">List item</a></li>
<li><a href="">List item</a></li>
<li><a href="">List item</a>
    <ol>
        <li><a href="">List sub item</a></li>
        <li><a href="">List sub item</a></li>
        <li><a href="">List sub item</a></li>
    </ol>
</li>
<li><a href="">List item</a></li>
<li><a href="">List item</a></li>
</ol>*/

    .rectangle-list a{
        position: relative;
        display: block;
        padding: .4em .4em .4em .8em;
        *padding: .4em;
        margin: .5em 0 .5em 2.5em;
        background: #ddd;
        color: #444;
        text-decoration: none;
        transition: all .3s ease-out;
    }

    .rectangle-list a:hover{
        background: #eee;
    }

    .rectangle-list a:before{
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -2.5em;
        top: 50%;
        margin-top: -1em;
        background: #fa8072;
        height: 2em;
        width: 2em;
        line-height: 2em;
        text-align: center;
        font-weight: bold;
    }

    .rectangle-list a:after{
        position: absolute;
        content: '';
        border: .5em solid transparent;
        left: -1em;
        top: 50%;
        margin-top: -.5em;
        transition: all .3s ease-out;
    }

    .rectangle-list a:hover:after{
        left: -.5em;
        border-left-color: #fa8072;
    }

}

@import 'homepage';
@import "header-style";
@import "layout-default-latest.css";
@import 'login-style';
@import '//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css';
@import "//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css";
@import "vendor/jquery.dynatable.css";
@import "vendor/highcharts/speech-bubble.css";
@import "search-box-style";
@import "components/result-card-item";
@import "components/high-chart-component-style";
@import "components/tabs-component-style";
@import "components/accordion-component-style";