
.field-validation-valid {
    visibility: hidden;
}

.field-validation-error {
    visibility: visible;
    background: transparent;
    border: 0;
    padding: 0 .25rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

    .field-validation-error:before {
    /*content: '\f06a';
    font-family: 'FontAwesome';*/
    content:'*';
    font-size: .875rem;
}

    .required,
.field-validation-error {
    color: #f22;
}
    /* help */
.help-link, .translation-link, .field-validation-error,
.translation-close, .validation-close, .help-close {
    cursor: pointer;
    font-family: 'icoMoon';
    font-size: 14px;
    text-decoration: none;
}
